doctype html
html(lang="zh-tw")
  head
    meta(charset='UTF-8')
    meta(name='viewport',content='width=device-width, initial-scale=1')
    title 挺柯Ｐ，多一點｜發票投柯Ｐ，給你蓋一Ｐ
    link(rel='stylesheet',href='/assets/main.css')
    link(rel='stylesheet',href='/static/css/font-awesome.css')
    link(rel='canonical' href='https://kppoint.github.io')
    meta(property='og:title' content='挺柯Ｐ，多一點｜發票投柯Ｐ，給你蓋一Ｐ')
    meta(property='og:site_name' content='挺柯Ｐ，多一點')
    meta(property='og:description' content='即日起，在臺北街頭把發票投給柯Ｐ，就可以獲得 1 點，每 3 點免費換柯Ｐ貼紙喲！')
    meta(property='og:image' content='https://kppoint.github.io/static/images/og.jpg')

  body(data-spy="scroll" data-target='.main-nav')
    #toggle(ga-label='toggle')
      i.fa.fa-bars
    main
      section.result-fold#top
        .background
          h1.title
            img(src='/static/images/title.png' alt='挺柯Ｐ，多一點｜發票投柯Ｐ，給你蓋一Ｐ KP.Taipei')
          h2.total-points
            | 已送出
            span.js-total-points
              = totalPoints
            | 點
          h2.total-users
            span.js-total-users
              = totalUsers
            | 人共襄盛舉
          //- .kp-logo
          //-   img(src='/static/images/kp-logo.png')
        .indicator: i.fa.fa-chevron-down

      section.process-fold#process
        .main-container
          .steps
            .step
              i.fa.fa-users
              p 1. 找到攤位
              .dots: .fa.fa-ellipsis-v
            .step
              img(src='/static/images/box.png')
              p 2. 捐發票集點
              .dots: .fa.fa-ellipsis-v
            .step
              i.fa.fa-thumbs-o-up
              p 3. 兌換禮物
          .desc
            p
              | 只要把發票投入我們的投票箱，就可以登入集點系統獲得一點，集滿三點就可以兌換我們的限量精美贈品，收集的發票將會捐贈「
              a(href='http://www.tfrd.org.tw/') 罕見疾病基金會
              | 」、「
              a(href='http://www.genesis.org.tw/') 創世基金會
              | 」、「
              a(href='http://www.nncf.org/') 羅慧夫基金會
              | 」，點數跟參與人數也會顯示在我們的網頁上面，讓大家知道有多少人透過行動一起讓社會變得更好！
          .sticker
            img(src='/static/images/sticker.png')
          .donate 發票需為 8 月以後、未打統編的有效發票。贈品當日數量有限，於集點系統登記之點數，可於 11/28 號前至各據點或總部兌換

      section.map-fold#map
        i.fa.fa-map-marker.loading
        iframe
        div.cover
          div.toast.activate-map 點一下以啟用地圖
        div.close.deactivate-map
          i.fa.fa-times
        div.toast.deactivate-map
          | 點一下以離開地圖
          | 
          i.fa.fa-sign-out

      section.slogan-fold#motivation
        .main-container
          .video-container
            i.fa.fa-youtube-play
            #player

          .slogans
            .slogan
              h2 青年們！
              .content
                p 你每天想破頭，為未來鋪路，卻總看不到前進的方向？日日工作勤奮，努力這麼久，你是否總覺得沒有受到應有的尊重與回報？現狀的不公平，不必然需要延續下去。這個改變只需要你為自己堅定的發聲。11/22-11/28，站在街頭，為自己發聲，讓長輩們感受到你的堅毅，為你投下手中這一票。
              h3 為自己行動，青年發聲
              .action-bar.text-center
                a.btn.btn-success.btn-lg(href="https://www.facebook.com/events/1581419652079948" target="_blank") 加入街頭志工
            .slogan
              h2 親愛的爸爸媽媽
              .content
                p 你總是不怕苦，不怕累，只想給孩子最好的、幸福的人生。但你也許不知道，對你的孩子來說，在現實裡存錢買間溫馨的小屋、30 歲前結婚生子，都已經是太過奢侈的要求。孩子們意識到這個重要的時刻，為自己站出來。
                p 你，願意為孩子挺身而出嗎？
              h3 票投柯P，撐孩子
              .action-bar.text-center
                a.btn.btn-success.btn-lg(href="http://line.me/R/msg/text/?%E3%80%90%E6%8C%BA%E6%9F%AF%EF%BC%B0%EF%BC%8C%E5%A4%9A%E4%B8%80%E9%BB%9E%E3%80%91%E5%8D%B3%E6%97%A5%E8%B5%B7%EF%BC%8C%E5%9C%A8%E8%87%BA%E5%8C%97%E8%A1%97%E9%A0%AD%E6%8A%8A%E7%99%BC%E7%A5%A8%E6%8A%95%E7%B5%A6%E6%9F%AF%EF%BC%B0%EF%BC%8C%E5%B0%B1%E5%8F%AF%E4%BB%A5%E7%8D%B2%E5%BE%971%E9%BB%9E%EF%BC%8C%E6%AF%8F3%E9%BB%9E%E5%85%8D%E8%B2%BB%E6%8F%9B%E6%9F%AF%EF%BC%B0%E8%B2%BC%E7%B4%99%E5%96%B2%EF%BC%81%20http%3A%2F%2Fkppoint.github.io%20") 分享到 Line

      section.about-fold#about
        .people
          p: strong 「不用切割了，我們就是一群鄉民！」
          p 這場活動完全是由素人公民發起，我們在臉書上發聲、共鳴，透過網路打造出這一切，從頭到尾都是出自我們自主的意念、資金和行動。
          p 我們受夠了大樓裡、公車上、馬路上那撲天蓋地的文宣品影響市容，希望透過這樣的活動，讓更多人可以跟我們一起把我們支持的意見透過行動跟衣著展現出來，去改變路上的行人、去改變父母、去改變身邊的朋友，讓他們知道我們所期望的未來！

          .figures
            figure
              img(src='/static/images/avatar/hazelwei.jpg')
              figcaption
                h2 hazelwei
            figure
              img(src='/static/images/avatar/kpman.jpg')
              figcaption
                h2 kpman
            figure
              img(src='/static/images/avatar/moss.jpg')
              figcaption
                h2 moss
            figure
              img(src='/static/images/avatar/mrorz.jpg')
              figcaption
                h2 mrorz
            figure
              img(src='/static/images/avatar/ofa.jpg')
              figcaption
                h2 ofa
            figure
              img(src='/static/images/avatar/tiphanie.jpg')
              figcaption
                h2 tiphanie

      footer.contact-us
        .main-container
          p
            span 
              a(href='mailto:ofafa.hsueh+kpp@gmail.com')
                i.fa.fa-envelope-o
                | 聯絡我們
            span 
              a(href='https://www.facebook.com/events/1581419652079948')
                i.fa.fa-facebook
                | FB event
          p
            | 特別感謝 
            a(href='https://www.facebook.com/formosabearpower') Formosa Bear Power!
            |  繪製的可愛 Logo！
          p
            a(href='https://www.flickr.com/photos/synapticism/11399869274/') Mushan road
            |  by 
            a(href='https://www.flickr.com/photos/synapticism/') Alexander Synaptic
            | . <wbr>
            a(href='https://github.com/kppoint/kppoint.github.io/blob/dev/static/images/bg.jpg') Derived work
            |  released under 
            a(href='https://creativecommons.org/licenses/by-sa/2.0/') CC BY-SA 2.0
            |  license.


    nav.main-nav
      ul.nav.nav-stacked.nav-pills
        li.active(role='presentation'): a(href="#top"): h1 挺柯Ｐ，多一點
        li(role='presentation'): a(href="#process") 活動辦法
        li(role='presentation'): a(href="#map") 攤位地圖
        li(role='presentation'): a(href="#motivation") 動機
        li(role='presentation'): a(href="#about") 我們是誰


    script(src="/assets/"+hash+".js")
    if process.env.NODE_ENV!=='production'
      script(src="/webpack-dev-server.js")

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-56923474-1', 'auto');

    script(src="https://www.youtube.com/iframe_api")
