doctype html
html(lang="zh-tw")
  head
    meta(charset='UTF-8')
    meta(name='viewport',content='width=device-width, initial-scale=1')
    title 挺柯Ｐ，多一點｜成為柯Ｐ的行動廣告｜KP.Taipei
    link(rel='stylesheet',href='/assets/main.css')
    link(rel='stylesheet',href='/static/css/font-awesome.css')
    link(rel='canonical' href='https://kppoint.github.io')
    meta(property='og:title' content='挺柯Ｐ，多一點｜成為柯Ｐ的行動廣告')
    meta(property='og:site_name' content='挺柯Ｐ，多一點')
    meta(property='og:description' content='貼上貼紙，讓自己成為柯Ｐ的行動廣告！')
    meta(property='og:image' content='https://kppoint.github.io/static/images/og.jpg')

  body(data-spy="scroll" data-target='.main-nav')
    #toggle(ga-label='toggle')
      i.fa.fa-bars
    main
      section.result-fold#top
        .background
          h1.title 挺柯Ｐ，<br>多一點<span>！</span>
          h2 成為柯文哲的<strong>行動廣告</strong>
          div.icon
            img(src='/static/images/icon.png' alt='挺柯Ｐ，多一點')

          p.total-points
            | 目前挺柯Ｐ多了
            span.js-total-points
              = totalPoints
            | 點

        video(autoplay loop poster="/static/images/1stfold.jpg")
          source(src='/static/video/1stfold.mp4' type='video/mp4')
          source(src='/static/video/1stfold.webm' type='video/webm')
          img(src='/static/images/1stfold.jpg')

        a.indicator(href="#process" data-scroll): i.fa.fa-chevron-down

      section.process-fold#process
        .main-container
          .steps
            .step
              i.fa.fa-users
              p 1. 在路上發現攤位
              .dots: .fa.fa-ellipsis-v
            .step
              i.fa.fa-thumbs-o-up
              p 2. 貼上貼紙！
              .dots: .fa.fa-ellipsis-v
            .step
              img(src='/static/images/collectpoint.svg')
              p 3. 蓋章線上集氣
          .desc
            p
              | 在 11/28 前，在我們攤位領取貼紙，並且用手機號碼登入集點系統、發票投入我們的「投票箱」，一起成為柯Ｐ的行動廣告吧！募得的發票將會捐贈至「
              a(href='http://www.tfrd.org.tw/') 罕見疾病基金會
              | 」、「
              a(href='http://www.genesis.org.tw/') 創世基金會
              | 」與「
              a(href='http://www.nncf.org/') 羅慧夫基金會
              | 」，資助罕見疾病與社會弱勢的醫療與照護。
          .stickers
            figure
              img(src='/static/images/sticker.png')
              figcaption
                span.label.label-default 即日起
                |  支持貼紙
            figure
              img(src='/static/images/sticker2.png')
              figcaption
                span.label.label-default 11/24 起
                |  7 號按鈕貼

          .donate
            | 攤位時間：11/25 至 11/28 為 18:00～22:00。發票需為 8 月以後、未打統編的有效發票。歡迎到 
            a(href="http://clbc.tw/theflagship/") CLBC The flagship 大船艦
            |  領取貼紙！

      section.map-fold#map
        i.fa.fa-map-marker.loading
        iframe
        div.cover
          div.toast.activate-map 點一下以啟用地圖
        div.close.deactivate-map
          i.fa.fa-times
        div.toast.deactivate-map
          | 點一下以離開地圖
          | 
          i.fa.fa-sign-out

      section.slogan-fold#motivation
        .main-container
          .video-container
            i.fa.fa-youtube-play
            #player

          .slogans
            .slogan
              h2 青年們！
              .content
                p 你每天想破頭，為未來鋪路，卻總看不到前進的方向？日日工作勤奮，努力這麼久，你是否總覺得沒有受到應有的尊重與回報？現狀的不公平，不必然需要延續下去。這個改變只需要你為自己堅定的發聲。11/25-11/28，站在街頭，為自己發聲，讓長輩們感受到你的堅毅，為你投下手中這一票。
              h3 為自己行動，青年發聲
              .action-bar.text-center
                a.btn.btn-success.btn-lg(href="https://www.facebook.com/events/1581419652079948" target="_blank") 加入街頭志工
            .slogan
              h2 親愛的爸爸媽媽：
              .content
                p 你總是不怕苦，不怕累，只想給孩子最好的、幸福的人生。但你也許不知道，對你的孩子來說，在現實裡存錢買間溫馨的小屋、30 歲前結婚生子，都已經是太過奢侈的要求。孩子們意識到這個重要的時刻，為自己站出來。
                p 你，願意為孩子挺身而出嗎？
              h3 票投柯P，撐孩子
              .action-bar.text-center
                a.btn.btn-success.btn-lg(href="http://line.me/R/msg/text/?%E3%80%90%E6%8C%BA%E6%9F%AF%EF%BC%B0%EF%BC%8C%E5%A4%9A%E4%B8%80%E9%BB%9E%E3%80%91%E5%8D%B3%E6%97%A5%E8%B5%B7%EF%BC%8C%E5%9C%A8%E8%87%BA%E5%8C%97%E8%A1%97%E9%A0%AD%E6%8A%8A%E7%99%BC%E7%A5%A8%E6%8A%95%E7%B5%A6%E6%9F%AF%EF%BC%B0%EF%BC%8C%E5%B0%B1%E5%8F%AF%E4%BB%A5%E7%8D%B2%E5%BE%971%E9%BB%9E%EF%BC%8C%E6%AF%8F3%E9%BB%9E%E5%85%8D%E8%B2%BB%E6%8F%9B%E6%9F%AF%EF%BC%B0%E8%B2%BC%E7%B4%99%E5%96%B2%EF%BC%81%20http%3A%2F%2Fkppoint.github.io%20") 分享到 Line

      section.about-fold#about
        .people
          p.lead 「不用切割了，我們就是一群鄉民！」
          p 這場活動完全是由素人公民發起，我們在臉書上發聲、共鳴，透過網路打造出這一切，從頭到尾都是出自我們自主的意念、資金和行動。
          p 我們受夠了大樓裡、公車上、馬路上那撲天蓋地的文宣品影響市容，希望透過這樣的活動，讓更多人可以跟我們一起把我們支持的意見透過行動跟衣著展現出來，去改變路上的行人、去改變父母、去改變身邊的朋友，讓他們知道我們所期望的未來！

          .figures
            figure
              img(src='/static/images/avatar/hazelwei.jpg')
              figcaption
                h2 hazelwei
            figure
              img(src='/static/images/avatar/kpman.jpg')
              figcaption
                h2 kpman
            figure
              img(src='/static/images/avatar/moss.jpg')
              figcaption
                h2 moss
            figure
              img(src='/static/images/avatar/mrorz.jpg')
              figcaption
                h2 mrorz
            figure
              img(src='/static/images/avatar/ofa.jpg')
              figcaption
                h2 ofa
            figure
              img(src='/static/images/avatar/tiphanie.jpg')
              figcaption
                h2 tiphanie

      footer.contact-us
        .main-container
          p
            span 
              a(href='mailto:ofafa.hsueh+kpp@gmail.com')
                i.fa.fa-envelope-o
                | 聯絡我們
            span 
              a(href='https://www.facebook.com/events/1581419652079948')
                i.fa.fa-facebook
                | FB event
          p
            | 特別感謝 
            a(href='https://www.facebook.com/formosabearpower') Formosa Bear Power!
            |  繪製的可愛 Logo！
          p
            a(href='https://www.flickr.com/photos/synapticism/11399869274/') Mushan road
            |  by 
            a(href='https://www.flickr.com/photos/synapticism/') Alexander Synaptic
            | . <wbr>
            a(href='https://github.com/kppoint/kppoint.github.io/blob/dev/static/images/bg.jpg') Derived work
            |  released under 
            a(href='https://creativecommons.org/licenses/by-sa/2.0/') CC BY-SA 2.0
            |  license.


    nav.main-nav
      ul.nav.nav-stacked.nav-pills
        li.active(role='presentation'): a(href="#top" data-scroll): h1 挺柯Ｐ，多一點
        li(role='presentation'): a(href="#process" data-scroll) 活動辦法
        li(role='presentation'): a(href="#map" data-scroll) 攤位地圖
        li(role='presentation'): a(href="#motivation" data-scroll) 動機
        li(role='presentation'): a(href="#about" data-scroll) 我們是誰


    script(src="/assets/"+hash+".js")
    if process.env.NODE_ENV!=='production'
      script(src="/webpack-dev-server.js")

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-56923474-1', 'auto');

    script(src="https://www.youtube.com/iframe_api")
