doctype html
html(lang="zh-tw")
  head
    meta(charset='UTF-8')
    meta(name='viewport',content='width=device-width, initial-scale=1')
    title 挺柯Ｐ，多一點｜發票投柯Ｐ，給你蓋一Ｐ
    link(rel='stylesheet',href='/assets/main.css')
    link(rel='stylesheet',href='/static/css/font-awesome.css')
    link(rel='canonical' href='https://kppoint.github.io')
    meta(property='og:title' content='挺柯Ｐ，多一點｜發票投柯Ｐ，給你蓋一Ｐ')
    meta(property='og:site_name' content='挺柯Ｐ，多一點')
    meta(property='og:description' content='即日起，在臺北街頭把發票投給柯Ｐ，就可以獲得 1 點，每 3 點免費換柯Ｐ貼紙喲！')
    meta(property='og:image' content='https://kppoint.github.io/static/images/og.jpg')

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-56923474-1', 'auto');
      ga('send', 'pageview');

  body(data-spy="scroll" data-target='.main-nav')
    #toggle(ga-label='toggle')
      i.fa.fa-bars
    main
      section.result-fold#top
        .background
          h1.title
            img(src='/static/images/title.png' alt='挺柯Ｐ，多一點｜發票投柯Ｐ，給你蓋一Ｐ KP.Taipei')
          h2.total-points
            | 已送出
            span.js-total-points
              = totalPoints
            | 點
          h2.total-users
            span.js-total-users
              = totalUsers
            | 人共襄盛舉
          //- .kp-logo
          //-   img(src='/static/images/kp-logo.png')
        .indicator: i.fa.fa-chevron-down

      section.process-fold#process
        .main-container
          .steps
            .step
              i.fa.fa-users
              p 1.找到攤位
              .dots ⁝
            .step
              img(src='/static/images/box.png')
              p 2.捐發票集點
              .dots ⁝
            .step
              i.fa.fa-thumbs-o-up
              p 3.兌換禮物
          .sticker
            img(src='/static/images/sticker.png')
          .desc
            p 集滿固定點數之參加者可用點數兌換贈品，將設計「我在台北生活，我支持柯P」等周邊供兌換讓參加者可以貼在衣服或是包包上來呈現自己的支持意見。
          .donate - 發票將捐贈 
            a(href='http://www.nncf.org/') 羅慧夫基金會
            | |
            a(href='http://www.tfrd.org.tw/') 罕見疾病基金會
            | |
            a(href='http://www.genesis.org.tw/') 創世基金會
            |  -

      section.map-fold#map
        iframe(src="https://mapsengine.google.com/map/u/0/embed?mid=zI3lo4kPc9e4.kuZC0pgWAtNs")
        div.cover
          div.toast.activate-map 點一下以啟用地圖
        div.close.deactivate-map
          i.fa.fa-times
        div.toast.deactivate-map
          | 點一下以離開地圖
          | 
          i.fa.fa-sign-out

      section.slogan-fold#motivation
        .main-container
          .video-container
            #player
          .slogans
            .slogan
              h2 青年們！
              .content
                p 你每天想破頭，為未來鋪路，卻總看不到前進的方向？日日工作勤奮，努力這麼久，你是否總覺得沒有受到應有的尊重與回報？現狀的不公平，不必然需要延續下去。這個改變只需要你為自己堅定的發聲。11/18-11/28，站在街頭，為自己發聲，讓長輩們感受到你的堅毅，為你投下手中這一票。
              h3 為自己行動，青年發聲
              .text-center
                a.btn.btn-success.btn-lg(href="https://www.facebook.com/events/739579056131012/" target="_blank") 一起來擺攤！
            .slogan
              h2 家長們！
              .content
                p 看著眼前的孩子，你想過他在你這個年紀時，生活會如何嗎？我們都希望孩子比自己過得更好，但他們心裡正憂慮著這個問題。孩子們意識到這個重要的時刻，為自己站出來。
                p 你，願意為孩子挺身而出嗎？
              h3 票投柯P，撐孩子
              .text-center
                a.btn.btn-success.btn-lg(href="") 分享到 Line

      section.about-fold#about
        .people
          p 我們是一群生活在臺北的學生與社會新鮮人，因為意識到線上與線下之間，交換的訊息有著巨大的落差，因此挺身而進，為我們所支持的候選人另闢曝光渠道。
          p 我們不是公關公司，不做市場問卷，不常在 ptt 發文，更不是柯文哲辦公室的人。（持次元刀亂揮）
          .figures
            figure
              img(src='/static/images/avatar/hazelwei.jpg')
              figcaption
                h2 hazelwei
            figure
              img(src='/static/images/avatar/kpman.jpg')
              figcaption
                h2 kpman
            figure
              img(src='/static/images/avatar/moss.jpg')
              figcaption
                h2 moss
            figure
              img(src='/static/images/avatar/mrorz.jpg')
              figcaption
                h2 mrorz
            figure
              img(src='/static/images/avatar/ofa.jpg')
              figcaption
                h2 ofa
            figure
              img(src='/static/images/avatar/tiphanie.jpg')
              figcaption
                h2 tiphanie

      footer.contact-us
        .main-container
          span 
            a(href='mailto:ofafa.hsueh+kpp@gmail.com')
              i.fa.fa-envelope-o
              | 聯絡我們
          span 
            a(href='https://www.facebook.com/events/739579056131012/')
              i.fa.fa-facebook
              | FB event


    nav.main-nav
      ul.nav.nav-stacked.nav-pills
        li.active(role='presentation'): a(href="#top"): h1 挺柯Ｐ，多一點
        li(role='presentation'): a(href="#process") 活動辦法
        li(role='presentation'): a(href="#map") 攤位地圖
        li(role='presentation'): a(href="#motivation") 動機
        li(role='presentation'): a(href="#about") 我們是誰


    script(src="/assets/"+hash+".js")
    if process.env.NODE_ENV!=='production'
      script(src="/webpack-dev-server.js")

    script(src="https://www.youtube.com/iframe_api")
