doctype html
html(lang="zh-tw")
  head
    meta(charset='UTF-8')
    title KPPoint
    link(rel='stylesheet',href='/assets/main.css')
  body
    div.result-fold
      h1.total-points
        span 3212
        | 點數已送出
      h1.total-users
        span 873
        | 人共襄盛舉
      div.kp-logo
    div.test

    div.process-fold

    script(src="/assets/"+hash+".js")
    if process.env.NODE_ENV!=='production'
      script(src="/webpack-dev-server.js")