doctype html
html(lang="zh-tw")
  head
    meta(charset='UTF-8')
    meta(name='viewport',content='width=device-width, initial-scale=1')
    title KPPoint
    link(rel='stylesheet',href='/assets/main.css')
    link(rel='stylesheet',href='/static/css/font-awesome.css')
  body
    div.result-fold
      h1.total-points
        span.js-total-points
          = totalPoints
        | 點數已送出
      h1.total-users
        span.js-total-users
          = totalUsers
        | 人共襄盛舉
      div.kp-logo
        img(src='/static/images/kp-logo.png')

    div.process-fold
      div.steps
        div.step
          i.fa.fa-users
          p 1.號召行動青年
          div.dots ⁝
        div.step
          i.fa.fa-slideshare
          p 2.小組執行街頭任務
          div.dots ⁝
        div.step
          i.fa.fa-dropbox
          p 3.群眾將發票投入集氣行動箱
          div.dots ⁝
        div.step
          i.fa.fa-thumbs-o-up
          p 4.獲得柯P點數
      div.desc
        p 集滿固定點數之參加者可用點數兌換商品，預計將會是「我是台北，我支持柯P」、「我生活在台北，我支持柯P」等周邊供集點數量達標的參加者兌換。讓參加者可以貼在衣服或是包包上來呈現自己的支持意見。
    
    div.slogan-fold
      div.slogans
        div.slogan
          h1 
          p

    section.about-fold
      .people
        p 我們是一群生活在臺北的學生與社會新鮮人，因為意識到線上與線下之間，交換的訊息有著巨大的落差，因此挺身而進，為我們所支持的候選人另闢曝光渠道。
        p 我們不是公關公司，不做市場問卷，不常在 ptt 發文，更不是柯文哲辦公室的人。（持次元刀亂揮）
        .figures
          figure
            img(src='/static/images/avatar/hazelwei.jpg')
            figcaption
              h2 hazelwei
          figure
            img(src='/static/images/avatar/kpman.jpg')
            figcaption
              h2 kpman
          figure
            img(src='/static/images/avatar/moss.jpg')
            figcaption
              h2 moss
          figure
            img(src='/static/images/avatar/mrorz.jpg')
            figcaption
              h2 mrorz
          figure
            img(src='/static/images/avatar/ofa.jpg')
            figcaption
              h2 ofa
          figure
            img(src='/static/images/avatar/tiphanie.jpg')
            figcaption
              h2 tiphanie
          figure
            img(src='/static/images/avatar/zerolin.jpg')
            figcaption
              h2 zerolin



    script(src="/assets/"+hash+".js")
    if process.env.NODE_ENV!=='production'
      script(src="/webpack-dev-server.js")