@media screen and (max-width: 760px) {
    .result-fold {
      .kp-logo {
        width: 100%;
        position: absolute;
        padding: 0 50px;
        margin-left: 0;
        left: auto;
        bottom: 20%;
        img {
          width: 100%;
        }
      }
    }
}