$margin-lg: 25px;
$margin-sm: 15px;

$font-size-lg: 45px;
$font-size-sm: 20px;
$font-size-xs: 14px;

$font-family-light: 'HelveticaNeue-UltraLight', Arial, sans-serif;
$font-family-normal: 'MicrosoftJhengHeiRegular', Arial, sans-serif;

$line-height: 1.7em;

%main-container {
  max-width: 960px;
  position: relative;
  margin: 0 auto;
  text-align: center;
}