@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";

@import 'test-import';
@import 'color';
@import 'var';

html, body {
  color: $color;
  overflow-x: hidden; 
}


body {
  color: #000;
}

.test {
  width: 200px;
  height: 200px;
  background-image: url('/static/images/test.png');
}


/*
 * result-fold
 */

.result-fold {
  position: relative;
  text-align: center;
  height: 100vh;
  padding-top: $margin-lg * 2;
  background: url('/static/images/RingRoad.jpg');
  h1 {
    font-family: $font-family-light;
    margin: $margin-sm;
    font-size: $font-size-sm * 1.5;
    @extend %black-color;
    span {
      margin-right: $margin-sm;
      font-size: $font-size-lg;
    }
  }
  .kp-logo {
    display: block;
    position: absolute;
    margin-left: -318px;
    left: 50%;
    bottom: $margin-lg * 8;
  }
}

/*
 * process-fold
 */

.process-fold {
  min-height: 100vh;
  background-color: $light-green;
  text-align: center;
  padding-top: $margin-lg * 2;
  padding-bottom: $margin-lg * 2;
  .step {
    font-family: $font-family-normal;
    margin-bottom: $margin-lg;
    @extend %white-color;
    img {
      width: 128px;
      height: 128px;
      border-radis: 50%;
      margin-bottom: $margin-lg;
    }
    p {
      font-size: $font-size-xs;
      margin-bottom: $margin-lg;
    }
    .dots {
      margin: 0 auto;
      font-size: $font-size-lg;
      @extend %white-color;
      margin-bottom: $margin-lg - 5px;
    }
  }
  .desc {
      padding: 0 $margin-lg * 2;
      line-height: $line-height;
      @extend %white-color;
  }
}
