@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";
@import "compass/css3";

@import 'test-import';
@import 'color';
@import 'var';

html, body {
  color: $color;
  overflow-x: hidden; 
}


body {
  color: #000;
}

.test {
  width: 200px;
  height: 200px;
  background-image: url('/static/images/test.png');
}


/*
 * result-fold
 */

.result-fold {
  position: relative;
  text-align: center;
  min-height: 100vh;
  height: 1px;
  background-image: url('/static/images/bg.jpg');
  background-size: cover;
  background-position: 50%;
  .background {
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
  }
  h1 {
    font-family: $font-family-light-title;
    font-weight: 100;
    font-size: $font-size-normal * 2;
    line-height: 1.5;
    width: 100%;
    margin: 0;
    @extend %black-color;
    @media #{$large-screen} {
      font-size: $font-size-lg * 1.5;
    }
    span {
      display: block;
      @media #{$large-screen} {
        display: inline;
        margin-right: $margin-sm;
        font-size: $font-size-lg * 1.5;
      }
    }
    &:first-child {
      padding-top: $margin-lg * 4;
      margin-bottom: $margin-lg * 2;
      @media #{$large-screen} {
        margin-bottom: 0;
      }
    }
  }
  .kp-logo {
    display: block;
    position: absolute;
    bottom: $margin-lg * 8;
    padding: 0 50px;
    @media #{$large-screen} {
      padding: 0;
      margin-left: image-width('kp-logo.png')/-2;
      left: 50%;
    }
    img {
      width: 100%;
    }
  }
}

/*
 * process-fold
 */

.process-fold {
  min-height: 100vh;
  background-color: $light-green;
  text-align: center;
  .main-container {
    @extend %main-container;
  }
  .step {
    font-family: $font-family-normal;
    margin-bottom: $margin-lg;
    @extend %white-color;
    i {
      width: 128px;
      height: 128px;
      font-size: 128px;
      margin-bottom: $margin-lg;
    }
    img {
      width: 128px;
      height: 128px;
      margin-bottom: $margin-lg;
    }
    p {
      font-size: $font-size-normal;
      margin-bottom: $margin-lg;
    }
    .dots {
      margin: 0 auto;
      font-size: $font-size-lg;
      margin-bottom: $margin-lg - 5px;
      @extend %white-color;
    }
  }
  .desc {
      font-size: $font-size-normal;
      line-height: $line-height;
      text-align: justify; 
      text-justify: ideographic;
      margin-bottom: $margin-lg;
      @extend %text-align;
      @extend %white-color;
      // @media #{$large-screen} {
      //   color: red;
      // }
  }
  .donate {
    @extend %white-color;
  }
}

.slogan-fold {
  .main-container {
    @extend %main-container;
    min-height: 50vh;
    text-align: inherit;
    -webkit-font-smoothing: antialiased;
  }
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;
    margin-bottom: $margin-lg;
    & iframe,& object, & embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .slogans {
    font-size: 0;
  }
  .slogan {
    color: $light-green;
    margin-bottom: $margin-lg * 2;
    &:last-child {
      margin-bottom: 0; 
    }
    @media #{$large-screen} {
      display: inline-block;
      width: 50%;
      margin-bottom: 0;
      vertical-align: top;
      &:first-child {
        padding-right: $margin-sm;
      }
      &:last-child {
        padding-left: $margin-sm;
      }
    }
    .content {
      @media #{$large-screen} {
        height: 200px;
      }
    }
  }
  p {
    @extend %text-align;
    font-size: $font-size-normal;
    line-height: $line-height;
  }
  h3 {
    position: relative;
    text-align: center;
    padding: 0.25em;
    border-top: 1px solid $dark-orange;
    border-bottom: 1px solid $dark-orange;
    color: $dark-orange; // dark orange
    background: #fff;

  }
}

.about-fold {
  padding: $margin-lg;
  background: image-url('notebook.jpg') center center;
  @include background-size(cover);

  .people {
    padding: $margin-lg;
    background: rgba(#fff, .83);
    text-align: center;
    margin: 0 auto;
    max-width: 960px;
  }

  p, h2 {
    font: 15px/#{$line-height} $font-family-light;
    color: rgba(#000, .83);
    margin: 0;
  }
  p {
    margin-bottom: $font-size-normal*$line-height;
  }

  .figures {
    margin: 0 $margin-lg/-2; // Eat up excessive margin of figures
    font-size: 0;
  }

  figure {
    padding: $margin-lg/2;
    width: 50%;
    display: inline-block;

    @media #{$large-screen} {
      width: auto;
    }
  }

  img {
    width: 100%;
    border-radius: 200px;
    border: 1px solid #fff;

    @media #{$large-screen} {
      max-width: 100px;
    }
  }
}
